@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


/* Header */
footer{
    position: absolute;
    width: 100vw;
    bottom: 0;
    padding: 0 2rem;
}

.rightfooter{
    display: flex;
    gap: 1rem;
}

.footer{
    width:100%;
    height:70px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftfooter .copyright{
    font-size: 13px;
    font-weight: 700;
    color: #9C98A0;
}

.leftfooter .privacy{
    font-size: 13px;
    font-weight: 700;
    color: #9C98A0;
    margin-top: 5px;
}