@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    color: #ffffff;
}

body{
    background-color: #15151B;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    transition: .3s;
}

a:hover{
    color: #FF48F5;
    transition: .3s;
}

/* Header */
header{
    position: relative;
    padding: 0 2rem;
    border-bottom: 2px solid #1F1F25;
}

.leftheader {
    display: flex;
}

.rightheader{
    display: flex;
    gap: 1rem;
}

.navbar{
    width:100%;
    height:70px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.navbar .logo img {
    display: flex;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar .links{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-left: 1.2rem;
}

.navbar .toggle_btn{
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

a.action_btn{
    border-radius: 5px;
    background: linear-gradient(180deg, #FF48F5 0%, #C634BE 100%);
    box-shadow: 0px 0px 10px 0px rgba(255, 72, 245, 0.75);
    padding: 0.2rem 1.6rem;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
}

a.action_btn:hover{
    scale: 1.05;
    color: #ffffff;
    transition: 0.3s;
}

a.active{
    color: #FF48F5;
}